@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'InterVariable', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'InterVariable', sans-serif;
  }
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}